{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes</title>
    <link rel="stylesheet" href="{% static 'filmes/css/style.css' %}">
</head>
<body>
    <header class="cabecalho">
        <div class="cabecalho-titulo"> 
            <h1>Filmes</h1>
        </div>
    </header>

    <div class="card_base">
        {% for filme in filmes %}
        <div class="card_principal">
            {% if filme.imagem %}
            <img src="{{ filme.imagem.url }}" alt="{{ filme.titulo }}">
            {% endif%}

            <h3>{{ filme.titulo}}</h3>
            <br>
            <p>{{ filme.descricao}}</p>
        </div>
        {% endfor %}
    </div>

    
</body>
</html>